@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-asha-cream font-body text-asha-dark;
  }
  h1, h2, h3, h4 {
    @apply font-display;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
